*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: #292929;
    word-break: break-word;
    scroll-behavior: smooth;
}
/* Home */
section{
    padding: 80px 0px 60px 0px;
}
.container{
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
    color: #2667FF;
    display: contents;
}
nav{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9999;
    width: 100%;
    font-size: 15px;
}
#top-menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-right: 27px;
}
.menu-item{
    padding-top: 13px;
    text-align: center;
    height: 50px;
    width: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-item:hover{
    background-color:rgba(255, 255, 255, 0.349) ;
    height: 50px;
    width: 100px;
    padding-top: 13px;
}
.container-m{
    display: none;
}
.parallax-outer {
    height: 100vh;
}

.parallax { 
    background: rgba(0, 0, 0, 0.3) url("./website-development.jpg");
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#homepage {
    bottom: 70px;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
}

header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 39px;
    font-weight: 300;
    font-style: italic;
}

#header-text {
    font-size: 25px;
    margin: 50px 0px 30px 0px;
    color: rgb(221, 221, 221);
}
.icons{
    text-align: center;
}
.icon{
    display: inline-block;
    margin-inline-start: 78px;
    margin-inline-end: 78px;
    color: white;
    cursor: default;
    transition: 0.3s ease;
}
.code:hover{
    color: #9B59B6;
}
.storage:hover{
    color: #3498DB;
}
.mobile:hover{
    color: #ff6842;
}
.language:hover{
    color: #2ECC71;
}
.text1{
    color: white;
    margin-top: 15px;
    font-weight: 700;
}
/* Fin Home */

/* Présentation main-content */
.item-box2{
    display: none;
}
h2{
    padding-bottom: 25px;
}
p{
    padding: 10px 0px;
    line-height: 30px;
}
.box-text{
    padding-left: 440px;
    padding-top: 50px;
}
img{
    width: 75%;
}
.img-container{
    position: absolute;
    width: 29%;
    left: 175px;
}
#button-container{
    margin-top: 50px;
    text-align: center;
}
#const{
    background-color: #3FA8FD;
}
#CV{
    background-color: #2FDC9C;
}
button{
    display: inline-block;
    margin: 0px 70px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 17px;
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0px rgba(252, 2, 2, 0.16);
    transition: 0.3s ease;
}
button:hover{
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.25);
    transition: .3s ease;
}
.outer-container{
    max-width: 85%;
    margin: auto;
}
.section-title{
    padding-bottom: 40px;
    text-align: center;
}
.section-title2{
    position: absolute;
    right: 614px;
}
/* Fin Présentation main-content */

/* Compétences-Skills */
.color-background{
    background-color: #EBEBEB;
}
.item-content{
    padding: 25px 40px 21px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    width: 65%;
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: white;
}
.stars{
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-top: 7px;
    margin-left: 153px;
}
.main-front{
    margin-bottom: 40px;
}
#front-stars .stars{
    color: #9B59B6;
}
#back .stars{
   color: rgba(2,121,215,255);
}
.main-back{
    margin-bottom: 40px;
}
#cms-stars .stars{
    color: #e68122;
}
.main-cms{
    margin-bottom: 40px;
}
#skills .front{
    color: #9B59B6;
}
#skills .c-item.icon{
    font-size: 140px;
    width: 27%;
    text-align: center;
}
.center .c-item{
    display: table-cell;
    vertical-align: middle;
}
#skills .back-end{
    color: rgba(2,121,215,255);
}
#skills .CMS{
    color: #e68122;
}
#skills .work{
    color: #95A5A6;
}
#skills h4{
    font-size: 22px;
}
#skills .item-desc{
    margin-bottom: 20px;
}
.space-between .item.names{
    margin-top: 8px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    text-align: justify;
}
.item.names2{
    margin-top: 8px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    margin-left: 39px;
}
.item.names3{
    margin-top: 8px;
    line-height: 30px;
}
.names3 i{
    width: 25px;
}
#back{
    margin-left: 372px;
}
/* Fin Compétences-Skills */

/* Parcours-experience */
#experience li::before{
    content: '●';
    padding-right: 10px;
}
ul{
    list-style: none;
}
.left{
    position: relative;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    width: 132px;
    top: 215px;
    left: 140px;
    background-color: #EBEBEB;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    border-radius: 50%;
}
.right{
    padding: 20px 0px 40px;
    position: relative;
    background-color: #EBEBEB;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    margin-left: 350px;
}
.content{
    padding-left: 30px;
    
}
.place{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 600;
}
.place1{
    display: none;
}
.content h3{
    padding-bottom: 10px;
    margin-top: 10px;
    color: rgba(2,121,215,255)
}
.content .BTS{
    color: #e68122
}
.content .Bac{
    color: #2ECC71;
}
.content li{
    padding-bottom: 10px;
    margin-top: 10px;
}
#two .left{
    top: 190px;
}
#three .left{
    top: 160px;
}
/* Fin Parcours-experience */

/* Contact */
.contact-subtitle{
    text-align: center;
    margin: 10px 0px 70px;
    font-size: 20px;
}
.material-symbols-outlined{
    margin-top: 25px;
    font-size: 80px;
}
.phone{
    text-align: center;
    background-color: #EFE5F3;
    color: #9B59B6;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    cursor: default;
}
.text{
    font-weight: 700;
}
.email{
    text-align: center;
    background-color: #E0EFF9;
    color: #3498DB;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    cursor: default;
}
#contact .space-between{
    display: flex;
    justify-content: space-around;
}
.meet{
    text-align: center;
    background-color: #DFF7E9;
    color: #2ECC71;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    padding-top: 28px;
    font-size: 18px;
}
.meet p{
    color: #707070;
}
.main-footer{
    background-color: #292929;
    color: white;
    padding: 25px;
    line-height: 20px;
    font-size: 14px;
}
footer{
    text-align: center;
    padding: 10px;
}
.social a{
    color: white;
}
.social i{
    width: 40px;
    border-radius: 40px;
    font-size: 21px;
    padding: 10px 0px;
    margin: 0px 10px 15px;
    transition: .5s ease;
}
.fa-linkedin-in{
    background-color: #007bb6;
}
.fa-linkedin-in:hover{
    background-color: #292929;
    transition: .3s ease-in;
}
.fa-linkedin{
    background-color: #ee7252;
}
.fa-linkedin:hover{
    background-color: #292929;
    transition: .3s ease-in;
}
/* Fin Contact */


@media screen and (max-width:1285px) {
    #header-text{
        margin: 50px 0px 50px 0px;
    }
    .section-title2{
        right: 423px;
    }
    .img-container{
        width: 25%;
        left: 170px;
    }
    .stars{
        margin-left: 116px;
    }
    .left{
        top: 215px;
    }
    #two .left{
        top: 190px;
    }
    #three .left{
        top: 160px;
    }
    .outer-container{
        margin: auto;
    }
    img{
        width: 85%;
    }
}
@media screen and (min-width:1890px) {
    #header-text{
        margin: 40px 0px 40px 0px;
    }
    .section-title2{
        right: 923px;
    }
    .img-container{
        width: 29%;
        left: 320px;
    }
    .outer-container{
        max-width: 1200px;
        margin: auto;
    }
    .stars{
        margin-left: 192px;
    }
    img{
        width: 65%;
    }
}
@media screen and (max-width:1023px) {
    /* Pour mobile */
    /* home */
    body{
        display: block;
    }
    .parallax {
        background-attachment: scroll;
    }
    nav {
        display: none;
    }
    .parallax-outer {
        height: 500px;
    }
    #homepage {
        bottom: 0px;
    }

    header {
        font-size: 1.5em;
    }

    #header-text {
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .icon{
        display: inline-block;
        margin-inline-start: 18px;
        margin-inline-end: 18px;
    }
    .material-symbols-outlined{
        font-size: 40px;
    }
    .text1{
        font-size: 12px;
        font-weight: 500;
        margin-top: 9px;
        margin-bottom: 35px;
    }
    h1 {
        font-size: 1.6em;
    }
    /* Fin home */

    /* Menu-Burger */
    
  .container-m{
    display: contents;
  }

  .nav-bar {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    right: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle {
    left: 0;
  }
  
  .toggle-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
  }
  
  .toggle .line1 {
    background-color: white;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
  
  .toggle .line2 {
    display: none;
  }
  
  .toggle .line3 {
    background-color: white;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }
  .nav-list {
    list-style: none;
    width: 60%;
    margin-bottom: 200px;
  }
  .nav-list-item {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .nav-link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
  }
    /* Fin menu burger */

    /* A propos de moi */
    section{
        padding: 40px 0px 60px 0px;
    }
    .item-box1{
        display: none;
    }
    .item-box2{
        display: contents;
    }
    .img-container{
        float: left;
        width: 35%;
        position: relative;
        left: 0;
    }
    .p-mobile{
        padding-top: 69px;
    }
    .section-title2{
        padding-bottom: 0;
        position: absolute;
        right: 60px;
    }
    button{
        margin: 0.6em 0em;
    }
    .left{
        display: none;
    }
    /* Fin A propos de moi */

    /* Compétences */
    .item-content{
        width: 100%;
    }
    .item.names{
        font-size: 0.6em;
    }
    .item.names2{
        margin-left: 38px;
        font-size: 0.6em;
    }
    #back{
        margin-left: 0;
    }
    .c-item.icon.front, .c-item.icon.back-end, .c-item.icon.CMS, .c-item.icon.work{
        display: none;
    }
    .stars{
        margin-left: 2px;
        font-size: 0.6em;
    }
    /* Fin Compétences */

    /* Parcours */
    .right{
        margin-left: 0;
        padding: 13px 0px 20px;
    }
    .content{
        padding: 0px 30px 0px;
    }
    #two{
        margin-top: 40px;
    }
    #three{
        margin-top: 40px;
    }
    .place1{
        display: contents;
    }
    .place2{
        margin-bottom: 30px;
        font-size: 17px;
    }
    /* Fin Parcours */

    /* Contact */
    #contact .space-between{
        display: block;
    }
    .contact-box{
        margin-top: 25px;
        margin-left: 19px;
    }
    .email .text{
        font-size: 17px;
    }
    .email .material-symbols-outlined{
        font-size: 60px;
    }
    .phone .text{
        font-size: 17px;
    }
    .phone .material-symbols-outlined{
        font-size: 65px;
    }
    .meet .text{
        font-size: 17px;
    }
    .meet p{
        font-size: 17px;
    }
    /* Fin Contact */
}