*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: #292929;
    word-break: break-word;
}
section{
    padding: 80px 0px 60px 0px;
}
.container{
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
nav{
    background-color: rgba(0, 0, 0, 0.3);
}
#top-menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-right: 27px;
}
.menu-item{
    padding-top: 13px;
    text-align: center;
    height: 50px;
    width: 100px;
}
.menu-item:hover{
    background-color:rgba(255, 255, 255, 0.349) ;
    height: 50px;
    width: 100px;
    padding-top: 13px;
}
h2{
    padding-bottom: 25px;
}
p{
    padding: 10px 0px;
    line-height: 30px;
}
.main-content{
    padding-left: 330px;
    padding-top: 35px;
}
#button-container{
    margin-top: 50px;
    text-align: center;
    margin-right: 38%;
}
button{
    display: inline-block;
    margin: 0px 70px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #2FDC9C;;
    font-weight: 500;
    font-size: 17px;
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0px rgba(252, 2, 2, 0.16);
}
.outer-container{
    max-width: 1200px;
    margin: auto;
}
.section-title{
    padding-bottom: 40px;
    text-align: center;
}
.color-skills{
    background-color: #EBEBEB;
}
.item-content{
    padding: 25px 40px 0px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
    width: 65%;
    border-radius: 15px;
    margin-bottom: 40px;
}
#skills .front{
    color: rgba(2,121,215,255);
}
#skills .back-end{
    color: rgba(2,121,215,255);
}
#skills .CMS{
    color: rgba(2,121,215,255);
}
#skills .work{
    color: rgba(2,121,215,255);
}
#skills h4{
    font-size: 22px;
}
#skills .item-desc{
    margin-bottom: 20px;
}
.space-between .item.names{
    margin-top: 8px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    text-align: justify;
}
.item.names2{
    margin-top: 8px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    margin-left: 350px;
}
.item.names3{
    margin-top: 8px;
    line-height: 30px;
}
#back{
    margin-left: 410px;
}


























































/* .main-footer{
    background-color: #292929;
    color: rgb(112, 112, 112);
}
footer{
    text-align: center;
    padding: 10px;
} */