h2 {
    /* font-size: 1.5em; */
}
.img-container{
    left: 30px;
}
.section-title2{
    font-size: 18px;
    right: 118px;
}
section {
    padding-top: 40px;
}

.section-title {
    padding-bottom: 20px;
}